<div class="container">

<%= render 'shared/errors', obj: @article %>

<div class="columns">
  <div class="column is-two-thirds">
    
     <%= form_with(model: @article, local: true) do |f| %>

        <div class="field">
          <%= f.label :title %> 
          <div class="control">
            <%= f.text_field :title, class: "input" %>
          </div>
          <p class="help">Insert the article title</p>
        </div>
          
        <div class="field">
          <%= f.label :description %> 
          <div class="control">
            <%= f.text_field :description, class: "textarea" %>
          </div>
          <p class="help">Insert the article description</p>
        </div>

        <p> 
          <%= f.submit 'Save', class: 'button is-success' %>
          <%= link_to 'Back to the list', articles_path, class: "button button-clear"%>
        </p>
        <% end %>

  </div>
  <div class="column">

  </div>

</div>


</div>
