<h1>Show Article</h1>

<p><storng>Title:</storng> <%= @article.title %> </p>
<p><storng>Description:</storng> <%= @article.description %> </p>

 <%= link_to 'Edit', edit_article_path(@article), class: "button button-clear" %> | 
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "button button-clear"  %> | 
<%= link_to 'Back to the list', articles_path, class: "button button-clear"%>