<section class="hero is-success">
  <div class="hero-body">
  <div class="container has-text-centered">
    <p class="title">
      Articles
    </p>
    <p class="subtitle">
      Show Article
    </p>
  </div>
  </div>
</section>

<br/>

<div class="container">

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= @article.title %> 
     </p>

  </header>
  <div class="card-content">
    <div class="content">
      <%= @article.description %> 
      <br>
      <br>
      <span class="tag is-primary">
        by <%= @article.user.username if @article.user %>
      </span>
    </div>
  </div>
  <footer class="card-footer">
    <%= link_to 'Edit', edit_article_path(@article), class: "card-footer-item" %> | 
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "card-footer-item"  %> | 
    <%= link_to 'Back to the list', articles_path, class: "card-footer-item"%>
  </footer>
</div>

</div>