<section class="hero is-success">
  <div class="hero-body">
  <div class="container has-text-centered">
    <p class="title">
      Articles
    </p>
    <p class="subtitle">
      Show Article
    </p>
  </div>
  </div>
</section>

<br/>

<div class="container">


<div class="columns">
 

          <div class="column">
            <div class="box">
              <p class="title"><%= @article.title %> </p>
              <p class="subtitle"><%= @article.description %> </p>
              <p> by  <%= link_to @article.user.username , user_path(@article.user) %></p>

            <% if logged_in? && @article.user == current_user %>
              <%= link_to 'Edit', edit_article_path(@article), class: "button" %> 
              <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "button"  %> 
            <% end %>
              <%= link_to 'Back to the list', articles_path, class: "card-footer-item"%>
            </div>
          </div>
    
<!-- final close columns -->
 </div>


</div>