<div class="container">


  <%= render 'shared/errors', obj: @user %>

  <%= form_with(model: user) do |form| %>

  <div class="columns">
    <div class="column is-two-thirds">

      <div class="field">
          <%= form.label :username %> 
          <div class="control">
            <%= form.text_field :username, class: "input" %>
          </div>
          <p class="help">Insert the username</p>
      </div>

      <div class="field">
          <%= form.label :email %> 
          <div class="control">
            <%= form.email_field :email, class: "input" %>
          </div>
          <p class="help">Insert you email</p>
      </div>

      <div class="field">
          <%= form.label :password %> 
          <div class="control">
            <%= form.password_field :password, class: "input" %>
          </div>
          <p class="help">Insert the password</p>
      </div>

        <p>
          <%= form.submit(@user.new_record? ? 'Sign Up' : 'Update account', class: 'button is-success') %>
          <%= link_to 'Back', root_path, class: 'button is-light' %>
        </p>
    
    </div>
  </div>
    
  <% end %>

</div>
