<section class="hero is-info">
  <div class="hero-body">
  <div class="container has-text-centered">
    <p class="title">
      Alpha Bloggers
    </p>
    <p class="subtitle">
      Who is posting here
    </p>
  </div>
  </div>
</section>

<br/>

<div class="container">

      <div class="columns">
            <% @users.each_with_index do |user, index|  %>

        <% if index>0 && index%2==0 %>
        <!-- internal close columns -->
        </div>
        <!-- new columns -->
        <div class="columns">
        <% end %>
                <div class="column">
                  <div class="box">
                    <article class="media">
                      <figure class="media-left">
                        <p class="image is-128x1s8">
                          <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                        <%= link_to 'View Profile', user , class: "button is-small is-primary" %>
                        <% if logged_in? && (user == current_user || current_user.admin?) %>
                            <%= link_to 'Edit Profile', edit_user_path(user), class: "button is-small is-success" %> 
                            <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "button is-small is-danger"  %> 
                          <% end %>
                
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p class="title"><%= user.username %> </p>
                          <p class="subtitle"><%= user.email %> </p>
                           <p> <%= pluralize(user.articles.count, "article") %> </p>
                           <p><i> Joined <%= time_ago_in_words(user.created_at) %> ago, 
                           updated <%= time_ago_in_words(user.updated_at) %> ago.</i></p>
                          </div>
                    </article>
                    
                  </div>
                </div>
            <% end %>
      <!-- final close columns -->
      </div>


<br>

<%= link_to 'New User', new_user_path, class: "button" %>

<!-- Close DIV container -->
</div>