<section class="hero is-info">
  <div class="hero-body">
  <div class="container has-text-centered">
    <p class="title">
      User Profile
    </p>
    <p class="subtitle">
      This is you profile page
    </p>
  </div>
  </div>
</section>

<br/>

<div class="container">

  <nav class="level">
    <div class="level-item has-text-centered">
        <div>
          <figure class="image is-128x128">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
          </figure>
          
        </div>

        <div>
          <h2><%= @user.username %></h2>
          <p class="heading"><%= @user.email %></p>
          <% if logged_in? && @user == current_user %>
            <%= link_to "Edit Profile", edit_user_path(@user), class: "button small is-info" %>
          <% end %>
        </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Published Articles</p>
        <p class="title"> <%= @user.articles.count %> </p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Followers</p>
        <p class="title">456K</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Likes</p>
        <p class="title">789</p>
      </div>
    </div>
  </nav>

  <%=render 'articles/articles', articles: @user.articles%>
  

<!-- Closes DIV container -->      
</div>